:root {
    --primary-font: 'Trebuchet MS';

    /* Font Sizes */
    --primary-font-size: 3.7em;
    --secondary-font-size: 1.2em;
    
    /* Font Colours */
    --primary-font-colour: rgb(26, 26, 26);
    --secondary-font-colour: rgb(58, 58, 58);

    --accent1: rgb(135, 40, 224);
}

body {
    padding: 30px;
    text-align: center;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: var(--primary-font);

    
    overflow-x: hidden;
}


h1 {
    font-size: var(--primary-font-size);
}

p {
    font-size: var(--secondary-font-size);
    color: var(--secondary-font-colour);
}
